*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1110px;
    margin: 0 auto;
    border: 2px solid red;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
}

header{
    background-image: url(../img/Rectangle.jpg);
    min-height: 100vh;
}

.flex_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;
    min-width: 200px;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul li a {
    color: white;
    transition: all 2s;
}

nav ul li a:hover{
    opacity: 0.5;
}

.header_info h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 95px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 112px;
    padding-bottom: 35px;
    max-width: 734px;
    margin: 0 auto;
}

.header_info p{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.grid_container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0 30px;
    background: #F7F7F7;
    transform: translate(0px, -130px);
}

.years_element{
    border: 2px solid red;
}

.years_element h2{
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

.years_element span{
    display: block;
    font-style: normal;
    font-weight: 500;
    font-size: 72px;
    line-height: 107px;
    text-align: center;
    text-transform: uppercase;
    color: #F7654A;
}

.years_element p{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #999999;
}
.grid_container2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0 30px;
}
.product_element h3{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #404149;

}

.product_element p{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #999999;
    padding-bottom: 150px;
}

.product h2{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    text-transform: uppercase;
    color: #404149;
    padding-top: 100px;
    padding-bottom: 60px;
}

.product_element h3::before{
    display: block;
    content: '';
    width: 55px;
    height: 6px;
    background-color: #F7654A;
    margin-top: 45px;
    margin-bottom: 15px;
}

.request_container{
    display: flex;
    background-color: #F7654A;
    justify-content: space-between;
    align-items: center;

}

.request{
    background-color: #F7654A;
    padding: 30px ;
}

.request_text h3{
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 71px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.request_text span{
    display: block;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.request_text p{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.request_button button{
    background-color: #FFFFFF;
    border: 0px;
    min-width: 175px;
    min-height: 49px;
    font-family: 'Oswald';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 21px;
/* identical to box height */

letter-spacing: 0.05em;

color: #000000;
}

.grid_services{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 156px 30px;
    background: #F7F7F7;
}

.services_element img{
    padding-left: 125px;
}

.services_element p{
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 31px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #000000;
}

.services h2{
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    text-transform: uppercase;
    color: #000000;
    padding-top: 100px;
    padding-bottom: 60px;
    padding-left: 380px;
}

.grid_photos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-top: 153px;
    padding-bottom: 150px;
}

.portfolio_photos img{
    max-width: 337.3px;
}

.partners{
    background-color: #404149;;
    padding: 30px ;
}

.grid_imageplus{
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    padding-bottom: 50px;
}

.partners_text{
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    padding-bottom: 39px;
    padding-top: 50px;
}
.rewiev_text h2{
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    text-transform: uppercase;
    color: #000000;
    text-align: center;
    padding-top: 150px;
    padding-bottom: 60px;
}

.rewiev_item p{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #999999;
    padding-top: 4px;
    padding-bottom: 30px;
}

.rewiev_item h4{
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 31px;
    letter-spacing: 0.02em;
    color: #F7654A;
    padding-bottom: 150px;
}

.rewiev_item span{
    color: #000000;
}

.rewiev_item{
    padding: 0 20px;
}

.grid_rewievs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0px 30px;
}

.requestplus_text h3{
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 71px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}


.requestplus_text p{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.requestplus_button button{
    background-color: #FFFFFF;
    border: 0px;
    min-width: 175px;
    min-height: 49px;
    font-family: 'Oswald';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 21px;
/* identical to box height */

letter-spacing: 0.05em;

color: #000000;
}

.requestplus{
    background-color: #F7654A;
    padding: 30px;
}

.requestplus_container{
    display: flex;
    background-color: #F7654A;
    justify-content: space-between;
    align-items: center;
}

.grid_contacts{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.contacts_item{
    align-items: center;
}

.contacts_item h3{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #999999;
}

.contacts_item h4{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #000000;
    padding-top: 25px;
    padding-bottom: 150px;
}

.contacts_item span{
    display: block;

}

.contacts_container h2{
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    text-transform: uppercase;
    color: #000000;
    text-align: center;
    padding-bottom: 60px;
    padding-top: 100px;
}

.osobenniy h3{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #F7654A;
    padding-top: 25px;
}

.contacts_item img{
    display: block;
    margin: 0 auto;
    padding-bottom: 36px;
}

footer{
    background-color: #404149;

} 

.footer_text{
    display: flex;
    justify-content: space-between;
    min-height: 60px;
    align-items: center;
}

.footer_text p{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    text-align: center;
}

@media screen and (max-width:700px) {
    .grid_container{
        transform: translate(0,0);
    }
    .grid_container2{
        grid-template-columns: repeat(1, 360px);
        align-items: center;
        justify-content: center;
    }
    .services h2{
        padding-left: 200px;
    }
    .services_element img{
        padding-left: 65px;
    }
    .grid_photos{
        grid-template-columns: repeat(2, 1fr);
    }
    .grid_imageplus{
        grid-template-columns: repeat(6, 1fr);
    }
    .requestplus{
        align-items: center;
    }
}

@media screen and (max-width:400px) {
    .grid_container{
        grid-template-columns: repeat(2, 1fr);
    }
    .grid_photos{
        grid-template-columns: repeat(2, 1fr);
    }
    .portfolio_photos img{
        max-width: 190px;
    }
    .grid_services{
        grid-template-columns: repeat(1, 1fr);
    }
    .services h2{
        padding-left: 30px;
    }
    .services_element img{
        padding-left: 150px;
    }
    .grid_imageplus{
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
    }
    .grid_rewievs{
        grid-template-columns: repeat(2, 1fr);
    }
    .grid_contacts{
        grid-template-columns: repeat(2, 1fr);
    }
    .requestplus_container{
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
    }
    .request_container{
        flex-direction: column;
        padding: 10px;
    }
}
@media screen and (max-width:240px) {
    .grid_container{
        grid-template-columns: repeat(2, 1fr);
    }
    .request_container{
        flex-direction: column;
        padding: 10px;
    }
    .grid_services{
        grid-template-columns: repeat(1, 1fr);
    }
    .services_element img{
        padding-left: 70px;
    }
    .services h2{
        padding-left: 15px;
    }
    .grid_photos{
        grid-template-columns: repeat(1, 1fr);
        max-width: 240px;
    }
    
    .portfolio_photos img{
        max-width: 240px;
    }

    .grid_imageplus{
        grid-template-columns: repeat(2, 1fr);
    }

    .product_element img{
        max-width: 300px;
    }

    .product_element h3{
        padding-left: 65px;
    }

    .product_element p{
        padding-left: 65px;
        max-width: 250px;
    }
    .grid_rewievs{
        grid-template-columns: repeat(1, 1fr);
    }
    .grid_contacts{
        grid-template-columns: repeat(1, 1fr);
    }

    .header_info h1{
        font-size: 40px;
    }
    .requestplus_container{
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
    }
}
 